:root{
    --clr-primary: hsl(214, 92%, 38%);   /*Color primario, con este color resaltamos lo importante*/
    --clr-neutral:  hsl(0, 0%, 13%); 
    --clr-neutral-500: hsl(0, 0%, 10%);
    --very-dark-blue: hsl(220, 12%, 9%);
    --clr-white: hsl(0, 0%, 100%);
    --wrapper-width: 1600px;    /*Tamaño de los contenedores, para que todo el contenido de la pagina abarque hasta cierto punto*/
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;  /*header main footer, tanto el header como el footer ocuparán solo su contenido + el padding si es que tiene, y el main abarcará el resto del espacio*/
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    color: var(--clr-white);
    background-color: var(--very-dark-blue);
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.toggle-menu{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--clr-neutral);
}

.icon{
    color: white;
}

.toggle-button{
    font-size: 35px;
    cursor: pointer;
}

.logo{
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--clr-primary);
}

.menu-list{
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateY(-100%);
    background-color: var(--clr-neutral-500);
}

.menu-list--show{
    position: initial;
    transform: translateY(0);
    transition: transform 0.3s;
}

.menu-list__link{
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    color: white;
}

.menu-list__link:hover, 
.menu-list__link:focus{
    background-color: var(--clr-primary);
}

.footer{
    background-color: var(--clr-neutral);
}

@media screen and (min-width: 768px) {
    .header{
        background-color: var(--clr-neutral);
    }

    .toggle-menu{
        padding: 0;
    }

    .menu-list{
        position: initial;
        flex-direction: row;
        transform: translateY(0);
        background-color: initial;
    }

    .toggle-button{
        display: none;
    }

    .header-wrapper{
        max-width: var(--wrapper-width);
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
    }
}